<%= image_tag('services_background.jpg', width: '525px') %>

<h4>Services Available for <b><%= @client.name %></b></h4>
  <h5> <b>Windows/Unix Services</b> </h5>
    <div class="well">
      <p>
        <a href='#'>Monthly Data Services </a><br/>
        <i>System level monthly data status report per server.</i>
      </p>
      <p>
        <a href='#'>Monthly Percentile Reports</a><br/>
        <i>System level percentile monthly report per server.</i>
      </p>
      <p>
      <a href='#'>Windows / Unix Performance & Capacity Planning</a><br/>
        <i>System level capacity planning & performance graphs for Unix and Windows servers.</i>
      </p>
    </div>
  <h5> <b>VMware Services</b> </h5>
    <div class="well">
      <p>
        <a href='#'>VMW_Virtual_Capacity  </a><br/>
        <i>VMW Physical hosts and Virtual System level capacity planning graphs.</i>
      </p>
    </div>
  <h5> <b>Application Services</b> </h5>
    <div class="well">
       <p>
        <a href='#'>DB MSSQL Capacity / Performance</a><br/>
        <i>MSSQL Application - Capacity and Performance graphs</i>
      </p>
      <p>
        <a href='#'>DB Oracle Capacity / Performance </a><br/>
        <i>Oracle Capacity and Performance graphs</i>
      </p>
    </div>
