//widths
$fixed-width: 740px;
$content-width: 555px;
$sidebar-width: 141px;
// fonts 
$font-size: 13px;
$panel-font-size: 9px;
$hp-font-family: verdana, arial, helvetica, sans-serif;
// colors 
$hp-bg-color: #003466;
$hp-white: white;
$dark-font-color: black;
// spacing 
$left-padding: 15px;
$line-height: 18px;

