/*variables */
  /* widths */
  $fixed-width: 740px;
  $content-width: 555px;
  $sidebar-width: 141px;
  /* fonts */
  $font-size: 13px;
  $panel-font-size: 9px;
  /* colors */
  $hp-bg-color: #003466;
  $hp-white: white;
  $dark-font-color: black;
  /* spacing */
  $left-padding: 15px;
  $line-height: 18px;
/* end variables */

.container {
    width: $fixed-width;
    margin-left: auto;
    margin-right: auto;
    font-size: $font-size;
    line-height: $line-height;
    font-family: verdana, arial, helvetica, sans-serif
}

.content {
  padding-left: $left-padding;
  width: $fixed-width !important;
}

.content-well {
    width: $content-width;
}

.sidebar-nav {
  width: $sidebar-width;
  float: left;
  margin-left: $left-padding;
  margin-right: 20px;
}

.hp-background {
  width: $fixed-width;
  background-color: $hp-bg-color;
  color: $hp-white;
}

.hp-background input,select {
  color: $dark-font-color;
}

.hp-background a {
  color: $hp-white;
}

.login-padding {
  padding-left: 40px;
  padding-bottom:20px;
}

.panel {
  width: $fixed-width;
}

.panel-heading, .panel-body {
  font-size: $panel-font-size;
}


