.container {
    width:740px;
    margin-left: auto;
    margin-right: auto;
}
.sidebar-nav {
  width: 141px;
  float: left;
  margin-left: auto;
}
.hp-background {
  background-color: #003466;
  color: #FFFFFF;
}

.hp-background input {
  color: black;
}

.hp-background a {
  color: #FFFFFF;
}

.login-padding {
  padding-left: 40px; 
  padding-bottom:20px;
}


