<main role="main">
<div class="row">
  <div class="sidebar-nav hp-background">
    <%= render 'layouts/left_nav' %>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</div><!--/row-->
</main>

