<DIV id=footer>
  <div align="center">
    <TABLE width="413" border=0 cellPadding=0 cellSpacing=0 class="footer">
      <TBODY>

      <TR>
        <TD width="379" align=middle class=footer><div align="center"><A
              href="http://www.hp.com/" class="footer">HP.com</A>&nbsp;&nbsp;|&nbsp;&nbsp;<A
              class=footer
              href="#">Privacy Policy</A>&nbsp;&nbsp;|&nbsp;&nbsp;<A
              href="http://h30067.www3.hp.com/login.asp?action=logout&amp;navcon_id=&amp;redirectCount=0#">Terms of Use</A> &nbsp;&nbsp;|&nbsp;&nbsp;<A
              href="#">Site Feedback</A></div></TD>
      </TR>
      <TR>
        <TD align=middle class=footer><div align="center">&#169 1994 - 2014 Hewlett-Packard Company</div></TD>
      </TR>
      </TBODY>
    </TABLE>
  </div>
</DIV>
