<div class="leftNavigation">
  <dl id="gallery">
    <dd><a href="/gdcpm/gdcpm">Home</a></dd>
    <dd><a href="/gdcpm/gdcpm/change_password">Change Password</a></dd>
    <dd><a href="/gdcpm/gdcpm_help.htm" onclick="window.open(this.href);return false;">Help</a></dd>
    <dd><a href="/gdcpm/gdcpm/logout">Log Out</a></dd>
  </dl>
</div>
